<p> Thank you <%= @user.first_name %> for purchasing this product. </p>
<p> Order Details: </p>
<p> Product: <%= @product.name %> </p>
<p> If you have any questions, please feel free to contact us <p>
