<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 thankyou_note">
      <p class="thankyou_title">Thank you for your purchase! We'll send you an e-mail with your order details. </p>
    </div>
  </div>
</div>
